{% extends "main" %}
{% block title %}Tron exchanges and markets price{% endblock %}
{%block description%}Get all the prices for all exchanges where you can buy TRX coin{%endblock%}

{% block header %} 


{% endblock %}

{% block content %}

	
<h1 class="ui dividing header"><small><i class="icon chart line"></i>Markets</small></h1>



<div >
 	
 <div class="ui vertical stripe segment" style="background: #f5f5f5;opacity: 0.7;">
    <div class="ui stackable grid container">
      <div class="row">
			
			<div class="column">
			<div class="ui three small statistics">
			  <div class="small red statistic">
			    <div class="value">
			      <small>{{stats.price}}$</small>
			    </div>
			    <div class="label">
			      Avg. price
			    </div>
			  </div>
			  <div class="small green statistic">
			    <div class="value">
			      <small>{{stats.volume}}$</small>
			    </div>
			    <div class="label">
			    	24h volume
			    </div>
			  </div>
			  <div class="orange statistic">
			    <div class="value">
			      {{stats.totalMarkets}}
			    </div>
			    <div class="label">
			      Exchanges
			    </div>
			  </div>


			</div>
			</div>
			
      </div>

      </div>
</div>
	<table class="ui striped table">
		<thead>
			<tr>
				<th class="center aligned">Market</th>
				<th class="center aligned">Pair</th>
				<th class="center aligned">Price</th>
				<th class="center aligned">24h volume</th>
			</tr>
		</thead>
		<tbody>
			{%for market in markets%}
			<tr class="center aligned">
				<td>{{market.market}}</td>
				<td>{{market.pair}}</td>
				<td>{{market.price}}$</td>
				<td>{{market.volume_24h}}$</td>
			</tr>
			{%endfor%}
		</tbody>
	 <tfoot>
	    <tr><th colspan="4">
			{% include 'partials/pagination' %}
	  </tr></tfoot>
	</table>
</div>



{%endblock%}
