{% extends "main" %}
{% block title %}Tron transaction informations: {{tx.hash}}{% endblock %}
{%block description%}Get all informations about transaction {{tx.hash}} on Tron blockchain{%endblock%}


{% block content %}

	
<h1 class="ui dividing header"><small>Transaction <small>{{tx.hash}}</small></small></h1>
	

<table class="ui definition table">
	<tbody>
		<tr>
			<td>Hash</td>
			<td>{{tx.hash}}</td>
		</tr>
		<tr>
			<td>Block</td>
			<td><a href="/block/{{tx.blockNum}}">{{tx.blockNum}}</a></td>
		</tr>
		<tr>
			<td>Type</td>
			<td>{{tx.type}}</td>
		</tr>
		<tr>
			<td>Timestamp</td>
			<td><span class="timestamp">{{tx.timestamp}}</span></td>
		</tr>
		<tr>
			<td>Status</td>
			<td>{%if tx.confirmed==true%}<span class="ui small green label">Confirmed</span>{%else%}<a class="ui small red label">Unconfirmed</a>{%endif%}</td>
		</tr>
		<tr>
			<td>From</td>
			<td><a href="/address/{{tx.from}}">{{tx.from}}</a></td>
		</tr>
		{%if tx.to !=null%}
		<tr>
			<td>To</td>
			<td><a href="/address/{{tx.to}}">{{tx.to}}</a></td>
		</tr>
		{%endif%}
		{%if tx.amount !=null%}
		<tr>
			<td>Amount</td>
			<td>{{tx.amount}} {{tx.token}}</td>
		</tr>
		{%endif%}
	</tbody>
</table>

<!-- <h2 class="ui dividing header"><small><i class="icon comments outline"></i>Comments</small></h2> -->

{%endblock%}
