{% extends "main" %}
{% block title %}Tron tokens and asset list{% endblock %}
{%block description%}Get all informations the tokens and assets created on Tron blockchain{%endblock%}



{% block content %}

	
<h1 class="ui dividing header"><small>Tokens</small></h1>

<div class="ui vertical stripe segment" style="background: #f5f5f5;opacity: 0.7;">
    <div class="ui stackable grid container">
      <div class="row">
			
			<div class="column">
			<div class="ui two small statistics">
			  <div class="small grey statistic">
			    <div class="value">
			      <small>{{stats.totalTokens}}</small>
			    </div>
			    <div class="label">
			      Total tokens
			    </div>
			  </div>
			  <div class="small yellow statistic">
			    <div class="value">
			      <small>{{stats.totalTokens24h}}</small>
			    </div>
			    <div class="label">
			    	New tokens <small>last 24h</small>
			    </div>
			  </div>

			</div>
			</div>
			
      </div>

      </div>
</div>	

<table class="ui striped table">
	<thead>
		<tr>
			<th class="center aligned">Name</th>
			<th class="center aligned">Abbreviation</th>
			<th class="center aligned">Supply</th>
			<th class="center aligned">Start date</th>
			<th class="center aligned">End date</th>
			<th class="center aligned">Issuer</th>
		</tr>
	</thead>
	<tbody>
		{%for asset in list.items%}
		<tr class="center aligned">
			<td><a href="/token/{{asset.name}}" title="{{asset.name}}">{{asset.shortName}}</a></td>
			<td>{{asset.abbr}}</td>
			<td>{{asset.getTotalSupplyStr()}}</td>
			<td>{{asset.startTime}}</td>
			<td>{{asset.endTime}}</a></td>
			<td><a href="/address/{{asset.issuer}}">{{asset.issuer}}</a></td>
		</tr>
		{%endfor%}
	</tbody>
 <tfoot>
    <tr><th colspan="6">
		{% include 'partials/pagination' %}
  </tr></tfoot>
</table>



{%endblock%}
