{% extends "main" %}
{% block title %}Tron tokens and asset list{% endblock %}
{%block description%}Get all informations the tokens and assets created on Tron blockchain{%endblock%}



{% block content %}

	
<h1 class="ui dividing header"><small>Tokens</small></h1>
	

<table class="ui striped table">
	<thead>
		<tr>
			<th class="center aligned">Name</th>
			<th class="center aligned">Supply</th>
			<th class="center aligned">Start date</th>
			<th class="center aligned">End date</th>
			<th class="center aligned">Issuer</th>
		</tr>
	</thead>
	<tbody>
		{%for asset in list.items%}
		<tr class="center aligned">
			<td><a href="/token/{{asset.name}}" title="{{asset.name}}">{{asset.shortName}}</a></td>
			<td>{{asset.getTotalSupplyStr()}}</td>
			<td>{{asset.startTime}}</td>
			<td>{{asset.endTime}}</a></td>
			<td><a href="/address/{{asset.issuer}}">{{asset.issuer}}</a></td>
		</tr>
		{%endfor%}
	</tbody>
 <tfoot>
    <tr><th colspan="5">
		{% include 'partials/pagination' %}
  </tr></tfoot>
</table>



{%endblock%}
