{% extends "main" %}
{% block title %}Tron block #{{block.num}} informations{% endblock %}
{%block description%}Get all informations about block #{{block.num}} on Tron blockchain{%endblock%}



{% block content %}

	
<h1 class="ui dividing header"><small><i class="icon cube"></i>BLOCK #{{block.num}}</small></h1>
	
<div >
<table class="ui definition table">
	<tbody>
		<tr>
			<td>Height</td>
			<td>{%if block.num>0 %}<a href="/block/{{block.num-1}}"> << </a> &nbsp;{%endif%} {{block.num}} {%if block.num<block.maxNum %}&nbsp;<a href="/block/{{block.num+1}}"> >></a>{%endif%}</td>
		</tr>
		{%if block.hash!=null %}
		<tr>
			<td>Hash</td>
			<td>{{block.hash}}</td>
		</tr>
		{%endif%}
		<tr>
			<td>Parent Hash</td>
			<td><a href="/block/{{block.num-1}}">{{block.parentHash}}</a></td>
		</tr>
		<tr>
			<td>Timestamp</td>
			<td>{{block.timestamp}}</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>{%if block.confirmed==true%}<span class="ui small green label">Confirmed</span>{%else%}<a class="ui small red label">Unconfirmed</a>{%endif%}</td>
		</tr>
		<tr>
			<td>Transactions</td>
			<td>{{block.txCount}} transactions<a href="/transactions?block={{block.num}}"> &nbsp;&nbsp;{%if block.txCount>0%}[see all]{%endif%}</a></td>
		</tr>
		<tr>
			<td>Produced by</td>
			<td><a href="/address/{{block.witnessAddress}}">{{block.witnessAddress}}</a></td>
		</tr>
		<tr>
			<td>Block Reward</td>
			<td>{{block.reward}}</td>
		</tr>
		<tr>
			<td>Size</td>
			<td>{{block.size}} bytes</td>
		</tr>
	</tbody>
</table>
</div>
<!-- <h2 class="ui dividing header"><small><i class="icon comments outline"></i>Comments</small></h2> -->

{%endblock%}
