      <div class="ui left floated pagination">
      {{list.info()}}
      </div>
      {%if list.totalPages>1%}
      <div class="ui right floated pagination menu">
        {%if list.criteria.page>1%}
        <a class="icon item" href="?page={{list.previousPage()}}">
          <i class="left chevron icon"></i>
        </a>
        {%endif%}
		{%for page in list.pages() %}
        <a class="item {%if list.criteria.page==page%}active{%endif%}" href="?page={{page}}{{list.params()}}">{{page}}</a>
        {%endfor%}
        {%if list.criteria.page <list.totalPages() %}
        <a class="icon item" href="?page={{list.nextPage()}}">
          <i class="right chevron icon"></i>
        </a>
        {%endif%}
      </div>
      {%endif%}