<div class="eyecatcher"></div>
 <div class="ui stackable borderless main menu">
 
    <div class="ui container topmenu">
   		<a href="/" class="header item">
        <img class="ui image" src="/img/logo_30.png" width="29" height="30"/>&nbsp; <span class="logo">TRXPL<i class="search icon" style="margin-right:-2px;margin-left:-2px"></i>RER<small>.io</small></span>
      </a>
      <div class="ui dropdown item nomobile">
		<div >Blockchain</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
	      	<a class="item" href="/blocks" >Blocks</a>
	      	<a class="item" href="/transactions" >Transactions</a>
	      	<a class="item" href="/accounts" >Accounts</a>
	      	<a class="item" href="/charts" >Charts</a>
    	</div>
      </div>

	  <div class="item nomobile"><a href="/nodes" >Nodes</a></div>
	  <div class="item nomobile"><a href="/representatives" >Representatives</a></div>

      <div class="ui dropdown item nomobile">
		<div >Votes</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
	  		<a class="item" href="/votes" >Votes statistics</a>
	  		<a class="item" href="/votes/genesis" >Genesis votes</a>
    	</div>
      </div>

      
      
      <div class="item nomobile"><a href="/tokens" >Tokens</a></div>
	  <div class="item nomobile"><a href="/markets" >Markets</a></div>

      

  	 <form class="header item nomobile" action="/search" method="post">
			<div class="ui category search">
			  <div class="ui large icon input">
			    <input class="prompt" name="q" type="text" placeholder="Address, Hash, Token ...">
			    <input type="hidden" value="" name="type">
			    <i class="search icon"></i>
			  </div>
			  <div class="results"></div>
			</div>
  	 </form> 
	  <span class="mobile-only">
	  <a id="mobile-menu" class="item right floated " href="#" ><i class="sidebar icon"></i> Menu</a>
	  </span>
  	  

	  

    </div>
  </div>
<div class="eyecatcherbottom"></div>