<div class="eyecatcher"></div>
 <div class="ui stackable borderless main menu">
 
    <div class="ui container">
      <a href="/" class="header item">
        <img alt="" src="/img/logo_30.png" />&nbsp; trxplorer<small>.io</small>
      </a>
      
      <div class="item"><a href="/blocks" >Blocks</a></div>
      <div class="item"><a href="/transactions" >Transactions</a></div>
	  <div class="item"><a href="/nodes" >Nodes</a></div>
	 <div class="ui simple dropdown item">
	    Representatives
	    <i class="dropdown icon"></i>
	    <div class="menu">
	      <a class="item" href="/super-representatives" >Super Representative</a>
	      <!--  <a class="item" href="/live-votes" >Live votes</a>-->
	      <a class="item" href="/representatives" >All candidates</a>
	    </div>
	  </div>
      <div class="item"><a href="/accounts" >Accounts</a></div>
      <div class="item"><a href="/tokens" >Tokens</a></div>
	  <div class="item"><a href="/markets" >Markets</a></div>
      <div class="item"><a href="/charts" >Charts</a></div>
      

  	 <form class="header item" action="/search" method="post">
			<div class="ui category search">
			  <div class="ui large icon input">
			    <input class="prompt" name="q" type="text" placeholder="Address, Hash, Token ...">
			    <input type="hidden" value="tx" name="type">
			    <i class="search icon"></i>
			  </div>
			  <div class="results"></div>
			</div>
  	 </form> 

  	  

	  

    </div>
  </div>
<div class="eyecatcherbottom"></div>