<div class="eyecatcher"></div>
 <div class="ui stackable borderless main menu">
 
    <div class="ui container">
      <a href="/" class="header item">
        <img class="ui image" src="/img/trxplorer_logo_small.png" width="103" />
      </a>
      
      <div class="item"><a href="/blocks" >Blocks</a></div>
      <div class="item"><a href="/transactions" >Transactions</a></div>
	  <div class="item"><a href="/nodes" >Nodes</a></div>
	  <div class="item"><a href="/representatives" >Representatives</a></div>
      <div class="item"><a href="/votes" >Votes</a></div>
      <div class="item"><a href="/accounts" >Accounts</a></div>
      <div class="item"><a href="/tokens" >Tokens</a></div>
	  <div class="item"><a href="/markets" >Markets</a></div>
      <div class="item"><a href="/charts" >Charts</a></div>
      

  	 <form class="header item" action="/search" method="post">
			<div class="ui category search">
			  <div class="ui large icon input">
			    <input class="prompt" name="q" type="text" placeholder="Address, Hash, Token ...">
			    <input type="hidden" value="" name="type">
			    <i class="search icon"></i>
			  </div>
			  <div class="results"></div>
			</div>
  	 </form> 

  	  

	  

    </div>
  </div>
<div class="eyecatcherbottom"></div>