{% extends "main" %}
{% block title %}Tron nodes list{% endblock %}
{%block description%}See all informations about available nodes on TRON blockchain{%endblock%}

{% block header %} 


{% endblock %}

{% block content %}

	
<h1 class="ui dividing header"><small><i class="icon server"></i>Nodes</small></h1>

<div >

<div class="ui vertical stripe segment" style="background: #f5f5f5;opacity: 0.7;z-index:10;">
    <div class="ui stackable grid container">
      <div class="row">
			
			<div class="column">
			<div class="ui four small statistics">
			  <div class="small green statistic">
			    <div class="value">
			      <small>{{stats.totalNodesUp}}</small>
			    </div>
			    <div class="label">
			      Nodes up <a href="#"  data-tooltip="Nodes successfully pinged by TRXPLORER with a timeout of 3s"  data-position="bottom center"><i class="ui icon circle info"></i></a>
			    </div>
			  </div>
			  <div class="small orange statistic">
			    <div class="value">
			      <small>{{stats.nodesDiscovered}}</small>
			    </div>
			    <div class="label">
			      Nodes discovered <a href="#"  data-tooltip="Nodes discovered on TRON Network (Up or Down) - Flushed every 24h" data-position="bottom center"><i class="ui icon circle info"></i></a>
			    </div>
			  </div>
			  <div class="small yellow statistic">
			    <div class="value">
			      <small>{{stats.totalNodes24h}}</small>
			    </div>
			    <div class="label">
			    	New nodes up<br><small>last 24h</small>
			    </div>
			  </div>
			  <div class="grey statistic">
			    <div class="text value">
			      {{stats.topNodeCountry.country.toLowerCase()}}<br>{{stats.topNodeCountry.nodes}} nodes<br><br>
			    </div>
			    <div class="label">
			      Top country 
			    </div>
			  </div>


			</div>
			</div>
			
      </div>

      </div>
</div>

{%if list.criteria.ip is not empty or list.criteria.country is not empty and list.criteria.country!='0'%}
<div class="ui info message">
  <p><b>{{list.totalCount}}</b> nodes found for your query</p>
</div>
{%endif%}

<form class="ui segment form" style=";z-index:1;" action="/nodes" method="GET">
<div class="inline fields">

  <div class="field">
    <label>Search host</label>
				
			  <input type="text" value="{{list.criteria.ip}}" name="ip" placeholder="Host IP">

  </div>
  
  <div class="field">
  	<label>Country</label>
  			  <select name="country" class="ui selection dropdown">
			    <option value="0" {%if list.criteria.country=='0'%}selected{%endif%}>--Country--</option>
			    {%for country in countries%}
			    <option value="{{country.code}}" {%if list.criteria.country==country.code%}selected{%endif%}>{{country.country}}</option>
			    {%endfor%}
			  </select>
	
  </div>
		  <button type="submit" class="ui blue button">Search</button>
</div>

  
</form>

	<table class="ui striped table">
		<thead>
			<tr>
				<th class="center aligned">Host</th>
				<th class="center aligned">Port</th>
				<th class="center aligned">Status</th>
				<th class="center aligned">Country</th>
				<th class="center aligned">City</th>
			</tr>
		</thead>
		<tbody>
			{%for node in list.items%}
			<tr class="center aligned">
				<td>{{node.host}}</td>
				<td>{{node.port}}</td>
				<td>{%if node.isUp%}<span class="ui small green label">Up</span>{%else%}<span class="ui small red label">Down</span>{%endif%}</td>
				<td>{{node.country}}</td>
				<td>{{node.city}}</td>
			</tr>
			{%endfor%}
		</tbody>
	 <tfoot>
	    <tr><th colspan="5">
			{% include 'partials/pagination' %}
	  </tr></tfoot>
	</table>
</div>



{%endblock%}
