{% extends "main" %}
{% block title %}Tron nodes list{% endblock %}
{%block description%}See all informations about available nodes on TRON blockchain{%endblock%}

{% block header %} 


{% endblock %}

{% block content %}

	
<h1 class="ui dividing header"><small><i class="icon server"></i>Nodes</small></h1>

<div >

<div class="ui vertical stripe segment" style="background: #f5f5f5;opacity: 0.7;">
    <div class="ui stackable grid container">
      <div class="row">
			
			<div class="column">
			<div class="ui three small statistics">
			  <div class="small green statistic">
			    <div class="value">
			      <small>{{stats.totalNodesUp}}</small>
			    </div>
			    <div class="label">
			      Total nodes running
			    </div>
			  </div>
			  <div class="small yellow statistic">
			    <div class="value">
			      <small>{{stats.totalNodes24h}}</small>
			    </div>
			    <div class="label">
			    	New nodes <br><small>last 24h</small>
			    </div>
			  </div>
			  <div class="grey statistic">
			    <div class="text value">
			      {{stats.topNodeCountry.country.toLowerCase()}}<br>{{stats.topNodeCountry.nodes}} nodes<br><br>
			    </div>
			    <div class="label">
			      Top country 
			    </div>
			  </div>


			</div>
			</div>
			
      </div>

      </div>
</div>



	<table class="ui striped table">
		<thead>
			<tr>
				<th class="center aligned">Host</th>
				<th class="center aligned">Port</th>
				<th class="center aligned">Status</th>
				<th class="center aligned">Country</th>
				<th class="center aligned">City</th>
			</tr>
		</thead>
		<tbody>
			{%for node in list.items%}
			<tr class="center aligned">
				<td>{{node.host}}</td>
				<td>{{node.port}}</td>
				<td>{%if node.isUp%}<span class="ui small green label">Up</span>{%else%}<span class="ui small red label">Down</span>{%endif%}</td>
				<td>{{node.country}}</td>
				<td>{{node.city}}</td>
			</tr>
			{%endfor%}
		</tbody>
	 <tfoot>
	    <tr><th colspan="5">
			{% include 'partials/pagination' %}
	  </tr></tfoot>
	</table>
</div>



{%endblock%}
