{% extends "main" %}
{% block title %}Tron account and address list{% endblock %}
{%block description%}Check all existing account currently on Tron blockchain{%endblock%}



{% block content %}

	
<h1 class="ui dividing header"><small><i class="icon user"></i>Accounts</small></h1>
	
<div class="ui vertical stripe segment" style="background: #f5f5f5;opacity: 0.7;">
    <div class="ui stackable grid container">
      <div class="row">
			
			<div class="column">
			<div class="ui three small statistics">
			  <div class="small grey statistic">
			    <div class="value">
			      <small>{{stats.totalAccounts}}</small>
			    </div>
			    <div class="label">
			      Total accounts
			    </div>
			  </div>
			  <div class="small green statistic">
			    <div class="value">
			      <small>{{stats.totalAccounts24h}}</small>
			    </div>
			    <div class="label">
			    	New accounts
			    	<small>(last 24h)</small> 
			    </div>
			  </div>
			  <div class="orange statistic">
			    <div class="text value">
			      {{stats.totalAccountBalance}} TRX
			    </div>
			    <div class="label">
			      Total Balance
			    </div>
			  </div>


			</div>
			</div>
			
      </div>

      </div>
</div>



<table class="ui striped table">
	<thead>
		<tr>
			<th class="center aligned">Address</th>
			<th class="center aligned">Name</th>
			<th class="center aligned">Balance</th>
			<th class="center aligned">Created time</th>
		</tr>
	</thead>
	<tbody>
		{%for account in list.items%}
		<tr class="center aligned">
			<td><a href="/address/{{account.address}}">{{account.address}}</a></td>
			<td>{%if account.name!=null and account.name.length>0%}{{account.name}}{%else%}-{%endif%}</td>
			<td>{{account.getBalanceStr()}}</td>
			<td>{{account.createTime}}</a></td>
		</tr>
		{%endfor%}
	</tbody>
 <tfoot>
    <tr><th colspan="7">
		{% include 'partials/pagination' %}
  </tr></tfoot>
</table>



{%endblock%}
