{% extends "main" %}
{% block title %}Tron account list and ranking{% endblock %}
{%block description%}Check all existing account currently on Tron blockchain{%endblock%}



{% block content %}

	
<h1 class="ui dividing header"><small><i class="icon user"></i>Accounts</small></h1>
	

<table class="ui striped table">
	<thead>
		<tr>
			<th class="center aligned">Rank</th>
			<th class="center aligned">Address</th>
			<th class="center aligned">Balance</th>
			<th class="center aligned">Percentage</th>
		</tr>
	</thead>
	<tbody>
		{%for account in list.items%}
		<tr class="center aligned">
			<td>{{account.rank}}</td>
			<td><a href="/address/{{account.address}}">{{account.address}}</a><br/><small>{{accoun.name}}</small></td>
			<td>{{account.getBalanceStr()}}</td>
			<td>{{account.percentage}}</a></td>
		</tr>
		{%endfor%}
	</tbody>
 <tfoot>
    <tr><th colspan="7">
		{% include 'partials/pagination' %}
  </tr></tfoot>
</table>



{%endblock%}
