{% extends "main" %} 

{% block title %}Status{% endblock %}

{% block content %}

<h1 class="ui dividing header"><small><i class="icon circle info"></i>Status</small></h1>
	

<table class="ui definition table">
	<tbody>
		<tr>
			<td>Status</td>
			<td><span class="ui {%if status.status=='OK'%}green{%else%}orange{%endif%} label">{%if status.status=='OK'%}Synchronized{%else%}Synchronizing...{%endif%}</span></td>
		</tr>
		<tr>
			<td>Total blocks missing</td>
			<td>{{status.totalBlocksMissing}}</td>
		</tr>
		<tr>
			<td>Trxplorer.io last block</td>
			<td>{{status.trxplorerLastBlock}}</td>
		</tr>
		<tr>
			<td>Tron last block</td>
			<td>{{status.tronLastBlock}}</td>
		</tr>
	</tbody>
</table>


{%endblock%}