{% extends "main" %}
{% block title %}Tron current super representative list{% endblock %}
{%block description%}All informations about Tron current super representatives. TRON super representatives are elected every 24h and are rewared to produce block and maintain the network{%endblock%}



{% block content %}

	
<h1 class="ui dividing header"><small>Super Representatives</small></h1>

<div class="ui grid">
	
	<div class="row">
	
		<div class="sixteen wide column">
			<div class="">
							
				<div class="ui mini icon info message">
				  <i class="circle info icon"></i>
				  <div class="content">
				    <p>These accounts where elected from previous voting cycle to become current super representatives.</p>
				  </div>
				</div>
				<table class="ui striped table">
					<thead>
						<tr>
							<th class="center aligned">URL</th>
							<th class="center aligned">Blocks produced</th>
							<th class="center aligned">Votes</th>
						</tr>
					</thead>
					<tbody>
						{%for witness in list.items%}
						<tr class="center aligned">
							<td><a href="/address/{{witness.address}}">{{witness.shortUrl}}</a></td>
							<td>{%if witness.totalProduced > 0 %}<a href="/blocks?producedBy={{witness.address}}">{{witness.totalProduced}}</a>{%else%}{{witness.totalProduced}}{%endif%}</td>
							<td>{%if witness.voteCount > 0 %}<a href="/address/{{witness.address}}?t=votes">{{witness.getVoteCountStr()}}</a>{%else%}{{witness.getVoteCountStr()}}{%endif%}</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>
		</div>


	
	</div>


</div>





{%endblock%}
