{% extends "main" %}
{% block title %}Tron representatives and super representatives ranking list{% endblock %}
{%block description%}All informations about Tron current super representatives and their ranking. TRON super representatives are elected every 6h and are rewared to produce block and maintain the network{%endblock%}



{% block content %}

	
<h1 class="ui dividing header"><small>Representatives</small></h1>

<div class="ui vertical stripe segment" style="background: #f5f5f5;opacity: 0.7;">
    <div class="ui stackable grid container">
      <div class="row">
			
			<div class="column">
			<div class="ui four small statistics">
			  <div class="small green statistic">
			    <div class="value">
			      {{stats.totalRepresentatives}}
			    </div>
			    <div class="label">
			      Representatives
			    </div>
			  </div>
			  <div class="grey statistic">
			    <div class="value">
			      {{stats.totalRepresentatives24h}}
			    </div>
			    <div class="label">
			    	New candidates <br><small>(last 24h)</small>
			    </div>
			  </div>
			  <div class="yellow statistic">
			    <div class="value">
			      {{stats.bestRep6h.percentage}}%
			    </div>
			    <small style="text-align: center;"><a href="/address/{{stats.bestRep6h.address}}">{{stats.bestRep6h.address}}</a></small>
			    <div class="label">
			      Best producer <br><small>(last 6h)</small>
			    </div>
			  </div>

			  <div class="orange statistic">
			    <div class="value">
			      {{stats.bestRepAll.percentage}}%
			    </div>
			    <small style="text-align: center;"><a href="/address/{{stats.bestRepAll.address}}">{{stats.bestRepAll.address}}</a></small>
			    <div class="label">
			      Best producer <br><small>(All time)</small>
			    </div>
			  </div>
			</div>
			</div>
			
      </div>

      </div>
</div>


	<table class="ui striped table">
	{%if list.criteria.page==1%}
		<thead>
			<tr>
				<th class="center aligned" colspan="7">Super representatives</th>
			</tr>
		</thead>
	{%endif%}
		<thead>
			<tr>
				<th class="center aligned">Rank</th>
				<th class="center aligned">Address</th>
				<th class="center aligned">URL</th>
				<th class="center aligned">Last block</th>
				<th class="center aligned">Blocks produced</th>
				<th class="center aligned">Blocks missed</th>
				<th class="center aligned">Votes</th>
			</tr>
		</thead>
		<tbody>
			{%for witness in list.items%}

			{%if list.criteria.page==1 and loop.index==27%}
			<tr>
				<td class="center aligned" colspan="7"><b>Representatives candidates</b></td>
			</tr>						
			{%endif%}
			
			<tr class="center aligned">
				<td>{{loop.index+1}}</td>
				<td>{%if witness.name!=null and witness.name.length>0%}{{witness.name}}<br>{%endif%}<a href="/address/{{witness.address}}">{{witness.address}}</a></td>
				<td><a href="{{witness.shortUrl}}" target="blank">{{witness.shortUrl}}</a></td>
				<td>{{witness.lastBlock}}</td>
				<td>{{witness.getTotalProducedStr()}}</td>
				<td>{{witness.totalMissed}}</td>
				<td>{%if witness.voteCount > 0 %}<a href="/vote/{{stats.currentRound.round-1}}/{{witness.address}}">{{witness.getVoteCountStr()}}</a>{%else%}{{witness.getVoteCountStr()}}{%endif%}</td>
			</tr>

			{%endfor%}
		</tbody>
		 <tfoot>
		    <tr><th colspan="7">
				{% include 'partials/pagination' %}
		  </tr></tfoot>
	</table>





{%endblock%}
